* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
#root {
  height: 100vh;
}
.layout {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  height: 100%;
  grid-template-rows: 60px  1fr 60px;
}

main {
  grid-area: main;
}
.wrapper {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}
.wrapper .products-wrapper {
  width: 68%;
}
.wrapper .filter-wrapper {
  width: 30%;
}
/* mobile responsive */
@media screen and  (max-width: 768px) {
  .wrapper {
    flex-direction: column-reverse;
    
  }
  .wrapper .products-wrapper {
    width: 100%;
  }
  .wrapper .filter-wrapper {
    width: 100%;
  }
}


  

