.cart-wrapper {
    width: 70%;
    margin: 20px auto;
}
.cart-header {
    padding-bottom: 7px;
    border-bottom: 1px solid #333;
}
.cart-item {
    border-radius: 4px;
    margin: 10px 0;
    padding: 10px;
    box-shadow: 2px 2px 3px #c0c0c0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease-in-out;

    img {
        width: 80px;
        margin-right: 10px;
    }

    .cart-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 1;
    }
    
}
.cart-item:hover {
    box-shadow: none;
}
button {
    padding: 0 10px;
   display: inline-block;
    height: 40px;
    background-color: #2a5ea5;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-transform: capitalize;
}
.clear-cart {
    display: inline-block;
}
.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-footer {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #cacaca;
    padding: 12px;
    border-radius: 4px;
    box-shadow: 2px 2px 3px #c0c0c0;
}
